/* //skill section */

#skills {
  background: #6fe0f6;
}

.skills-list i {
  font-size: 3rem;
  margin: 2rem;
}
/*about me */
#about {
  background: lightgray;
}
#contact {
  background: rgb(70, 69, 69);
}
#contact i {
  font-size: 4rem;
  color: white;
}
